@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
}
/* GENERAL */
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    background-color: #282C34;
    
}



/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    max-width: YOUR CONTAINER MAX-WIDTH PX HERE;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-form {
    font-size: 25px;
    -webkit-box-shadow:0px 0px 23px 8px rgba(252,252,252,0.25);
    -moz-box-shadow: 0px 0px 23px 8px rgba(252,252,252,0.25);
    box-shadow: 0px 0px 23px 8px rgba(252,252,252,0.25);
}

.titlebox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-size: 25px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
}

.question {
    margin-bottom: 30px;
    margin-left: 5px;
}
.subtitle{
    text-align: center;
    font-size: 18px;
}

.lifebox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lifebox {
    display: flex;
    margin-left: 100px;
    margin-bottom: 10px;
}

#js-input {
    -webkit-box-shadow:0px 0px 14px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.1);
}

.btn {
    -webkit-box-shadow:0px 0px 14px 5px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.16);
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.16);
}

.heart {
    margin-left: 5px;
}

.refresh {
    display: none;
}

.on {
    display: block;
}

.result {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.9;
    text-align: center;
}

.error-red {
    background-color: rgb(255, 0, 0);
    transition: 0.2s;
}

 
  /** MOBILE VERSION */

@media  only screen and (max-width: 766px) {
    
    .main-title {
        font-size: 20px;
    }
}

@media only screen and (max-width:600px) {
    .main-title {
        
        font-size: 20px;
    }
    
    .subtitle {
        font-size: 13px;
    }
    
    #js-input::placeholder {
        font-size: 10px;
    }
    .result {
        font-size: 15px;
    }
    
    .remainlife {
        font-size: 18px;
    }
    
    .heart {
        width: 20px;
        height: 20px;
    }
    
    .titlebox {
        display: flex;
        
        justify-content: flex-start;
        
    }
    
    .subtitle {
        margin-right: 30px;
        margin-bottom: 0;
    }
    
    .question {
        margin-top: 8px;
        margin-bottom: 20px;
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 444px) {
    .main-title {
        margin-right: 0;
        white-space: nowrap;
        font-size: 20px;
    }
    
    .life {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
        font-size: 17px;
    }
    
}

@media only screen and (max-width:426px) {
    .titlebox {
        position: relative;
    }
    .question{
        position: absolute;
        z-index: 999;
        top: 10px;
        left: 220px;
        
    }
    .main-title{
        white-space: normal;
        font-size: 20px;
    }
    
    .subtitle {
        margin-left:30px;
    }
    
}

@media screen and (max-width: 320px){
    .question {
        display: none;
    }
}